@import  "./../../node_modules/sass-prefix-mixins/scss/prefixes";


.loading{
    width:100px;
    height: 100px;
    background-color: #ddd;
    border-radius: 50%;
    position: relative;
    margin:50px;
    display: inline-block;
    &::before,&::after{
        content: "";
        display: block;
        width:100px;
        height: 100px;
        border-radius: 50%;
    }
}
.loading-spinny{
    &:after{
        position: absolute;
        top:-4px;
        left:-4px;
        border: 4px solid transparent;
        border-top-color:#dc4710;
        border-bottom-color: #dc4710;
        width:100px;
        height: 100px;
        @include vp-animation(spinny 1s linear infinite)
    }
}
@include vp-keyframes(spinny){
    0% { transform: rotate(0deg) scale(1)}
    50% { transform: rotate(45deg) scale(1.3)}
    100% { transform: rotate(360deg) scale(1)}
}
.loading-bouncy{
    @include vp-animation(spin 2s linear infinite);
    &:after, &:before{
        width: 20px;
        height: 20px;
        background-color: #dc4710;
        position: absolute;
        margin-left: -10px;
        left: 50%;
    }
    &:before{
        top:-10px;
        @include vp-animation(bouncy 1s linear infinite);
    }
    &::after{
        bottom:-10px;
        @include vp-animation(bouncy .5s linear infinite);
    }
}

@include vp-keyframes(bouncy){
    0%,100% { transform: translateY(0)}
    50% { transform: translateY(30px)}

}
@include vp-keyframes(spin){
    0% {transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
}
.loading-clock{
    background-color: transparent;
    border: 3px solid #ddd;
    &:before{
        width: 0;
        height: 50px;
        border-left: 4px solid #aaa;
        position: absolute;
        border-radius: 0;
        left: 50%;
        top: 0;
        margin-left: -2px;
        transform-origin: bottom center;
        @include vp-animation(spin 2s linear infinite);
    }
    &:after{
        background-color: #dc4710;
        position: absolute;
        left: 50%;
        top:50%;
        margin-left: -50px;
        margin-top:-50px;
        @include vp-animation(pulse 1.8s linear infinite);
    }
}
.loading-pulse{
    &::before, &:after{
        background-color: #dc4710;
        position: absolute;
        left: 50%;
        top:50%;
        margin-left: -50px;
        margin-top:-50px;
        opacity: 0;
    }
    &::before{
        @include vp-animation(pulse 3s linear infinite);
    }
    &::after{
        @include vp-animation(pulse 2s linear 2.3s infinite);
    }
}
@include vp-keyframes(pulse){
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100%{
        transform: scale(1.3);
        opacity: 0;
    }
}
.loading-bounce{
    background-color: transparent;
    height: 0;
    width: 0;
    .ball{
        display: block;
        height: 20px;
        width: 20px;
        background: #ddd;
        border-radius: 50%;
        position: absolute;
        top: -20px;
        &:nth-child(1){
            left: -40px;
            @include vp-animation(bounce 1s ease-in-out infinite);
        }
        &:nth-child(2){
            left: 0;
            @include vp-animation(bounce 1s ease-in-out 0.33s infinite);
        }
        &:nth-child(3){
            left: 40px;
            @include vp-animation(bounce 1s ease-in-out 0.66s infinite);
        }
    }
}
@include vp-keyframes(bounce){
    0%, 75%, 100% {transform: translateY(0) }
    25%{ transform: translateY(-30px)}
}